// common
a
  word-wrap: break-word

// code
code
  color: #c25
  background: #f1f1f1
  border: 1px solid #e1e1e1
  padding: 2px 5px
  white-space: nowrap

figure
  margin-bottom: 1em !important

.entry-content img.emoji
  display: inline

// social

.entry-content .share-on
  display: flex
  list-style-type: none !important
  margin: 80px 0 0 0

  > li
    margin-right: 10px

  a
    color: #fff
    padding: 5px 10px

.share-on-twitter
  background: #55acee

.share-on-facebook
  background: #3b5998

.share-on-hatena
  background: #2a6cbc

.fa:before
  font-family: FontAwesome
  font-style: normal
  padding-right: 5px
  color: #666

.fa-github:before
  content: "\f092"

.fa-fb:before
  content: "\f082"

.fa-tw:before
  content: "\f081"
