// social

.entry-content .share-on
  display: flex
  list-style-type: none !important
  margin: 80px 0 0 0

  > li
    margin-right: 10px

  a
    color: #fff
    padding: 5px 10px

.share-on-twitter
  background: #55acee

.share-on-facebook
  background: #3b5998

.share-on-hatena
  background: #2a6cbc

// fontawesome

.fa:before
  font-family: font-icon
  font-style: normal

.fa-github
  &:before
    content: "\f092"

.fa-facebook
  &:before
    content: "\f082"

.fa-twitter
  &:before
    content: "\f081"
